@font-face {
    font-family:Festive ;
    src: url(./fonts/Festive-Regular.ttf) format("truetype");
}
h1 {
    font-family: 'Festive', cursive;
    font-style: italic;
    font-weight: 50%;
    font-size: 20px;
    color: blue;
    text-align: center;
    text-decoration: underline;
    background-color: aquamarine;
}
.background {
    background-color: pink;
    width: 100px;
    height: 100px;
    opacity: 1;
}