@font-face {
    font-family: Graphik;
    src: url(./fonts/EM-Graphik/OTF/Graphik-Regular.otf);
}
h2 {
    font-family: Graphik;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #252B42;


}
h4 {
font-family: Graphik;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color: #374754;

}

.screen {
    height: 658.30322265625px;
    width: 1177.3414306640625px;
    left: 0px;
    top: 0px;
    border-radius: 44.81230545043945px;
    box-shadow: 0px 8.14769172668457px 63.14461135864258px 0px #00000026;
    position:relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: url(./images/screen.png);
    filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15));
    border-radius: 44.8123px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1777px;
    height: 1362.3px;
    left: 0px;
    top: 1042px;

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}
h3 {
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #252B42;
}
p {
    font-family: Graphik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #374754;
}
.vector {
    height: 45.75px;
    width: 45.75px;
    left: 7.625px;
    top: 7.625px;
    border-radius: 0px;
}